extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Austin Scott

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p The path to your dream job is never a straight line. When I was a kid, it was a dream to learn programming and go work for Nintendo. I started learning Java during my freshman year of high school and when I attended Rochester Institute of Technology for higher education, I originally took up a degree in Game Design and Development. Though I enjoyed problem solving and writing code, it was around this time that I began learning, teaching, and performing improv comedy on a regular basis, immersing myself in Rochester's entertainment community and gaining a true understanding of the word "flexibility", something I'd come to cherish over the next decade. 
          p I built my own performance organization from the ground up and found myself advertising, promoting, and networking with other groups and businesses. To help my endeavor succeed, I switched majors and graduated with an Advertising and Public Relations degree. Fast forward 10 years, several jobs, several industries, and a new city. Improv is still a huge part of my life, but to turn my hobby into a larger side business, I needed to make a website to promote myself. Of course, since I was no stranger to programming, it wasn't too hard to learn how to build one myself. 
          p Now I have a slew of HTML, CSS, and Javascript skills that I want to continue to use. My roundabout path to becoming a web developer is one of my greatest strengths as I've gained unique understanding of the needs and problems facing a variety of industries, including retail management, higher education, sales and marketing, publishing, and entertainment. My journey demonstrates that I am a lifelong learner looking who is always looking for an opportunity to improve.
          p So what now? Let's connect. I'm all about flexibility. Hire me to build your next website or solve your most pressing problem. And if you just want to take an improv class, don't worry, I can still do that too.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li Bootstrap 
          li APIs
          li NodeJS
          li Express
          li Pug Templating
          li GitHub
          li Terminal
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li 585-269-9619
          li austin.scott18@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/austin-scott-328aa377', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/austinkylescott', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/AustinLLC', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  